
*{
    margin: 0;
    padding: 0;
}

     /* NAVBAR */
nav{
    background-color: rgba(0, 0, 139, 0.533);
    height: 60px;
   /*  display: flex;
    justify-content: space-between; */
}

ul{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: right;

    margin-right: 100px;
}

li{
    
   list-style: none; 
}

a{
    text-decoration: none;
    font-size: 20px;
    margin: 5px 15px;
}

   /* ANIMACIONES */
a:hover{
    color: red;
    background-color: blue;
    font-size: 30px;
    transition: 2s;

}   

.logo img {
    width: 50px;
}

.contenedor{
    max-width: 1500px;
    margin: 0px;

    display: flex;
    justify-content: space-between;
}
       /* BANNER */

.banner{
    max-width: 1500px;
    margin: 0;
    margin-top: 20px;
}

.banner img {
    width: 100%;
    height: 300px;

    object-fit: cover;
    object-position: bottom;
}

.banner img:hover {
    transform: scale(1.1);
    transition: 2s;
}
